html,body{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 0.5em;
    font-size: 3em;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    display: block;
    background-color:rgb(0, 0, 0);
    color: white;
}

body *{
    transition: ease 0.2s all;
}

#q{
    margin-top: 10em;
    display:block;
}

#textbox{
    margin-top: 2em;
}

input{
    border:solid white 2px;
    border-radius: 6px;
    font-size: 1.2em;
}

input:focus{
    border-width: 3px;
    background-color:rgb(76, 76, 76)
}

strong{
    font-size: 2em;
}

.line,img{
    margin-top: 2.4em;
}

.img1{
    max-width: 75%;
}

img{
    max-width: 95%;
}
